@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "row" }))
    {
    @Html.AntiForgeryToken()

    <div class="row">
        <!-- make this a dropdown -->
        <div class="frame frame-circle frame-size-xs indent-right">
            <img src="http://lorempixel.com/27/27/" />
        </div>
        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class = "link-p" })
        <i class="icon-caret"></i>
        <!--
        <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>-->
    </div>
    }
}
else
{
    <div class="row">
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </div>
}
