@model IEnumerable<Solutioneers.Models.Idea>

<div class="row">
    search
</div>
<div class="wrap-group">
    @foreach (var idea in Model)
    {
        <div class="wrap-group-item well">
            <div class="column">
                <!--banner-->
                <div class="frame-size-media">
                    <img src="http://lorempixel.com/400/100/" />
                </div>
                <div class="row row-start row-centered indent-top">
                    <div class="frame frame-circle frame-size-small">
                        <img src="http://lorempixel.com/36/36/" />
                    </div>
                    <h1 class="indent">@idea.Title</h1>
                </div>
                <div class="row row-centered">
                    <p class="indent-top">@idea.Description</p>
                    <a class="h4">more</a>
                </div>
            </div>
        </div>
    }
</div>

