@model IEnumerable<Solutioneers.Models.Company>


<div class="row">
    <div class="column-20">
        <a>Activity</a>
        <a>Discover</a>
    </div>
    <div class="column-80">
        @Html.Partial("DiscoverPartial", Model)
    </div>
</div>
