@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <!-- Subs -->
   <div class="column-20">
       <h2>Subscriptions</h2>
        <!-- repeat this -->
        <div class="row subscription-list well">
            <div class="frame frame-size-small frame-circle">
                <img src="http://lorempixel.com/36/36/cats" />
            </div>
            <p>Channel Name</p>
            <i class="notification-bubble">2</i>
        </div>
       <div class="row subscription-list well">
           <div class="frame frame-size-small frame-circle">
               <img src="http://lorempixel.com/36/36/cats" />
           </div>
           <p>Channel Name</p>
           <i class="notification-bubble">2</i>
       </div>
       <div class="row subscription-list well">
           <div class="frame frame-size-small frame-circle">
               <img src="http://lorempixel.com/36/36/cats" />
           </div>
           <p>Channel Name</p>
           <i class="notification-bubble">2</i>
       </div>
   </div>
    <!-- Notifications -->
   <div class="column-80">
       <h2>Recent activity</h2>
       <div class="wrap-group">
           <div class="wrap-group-item">
               <a class="btn btn-link float-right">X</a>
               <h3>Channel Name</h3>
               <div class="column well">
                   <section class="row">
                       <p>This is a channel description that can totally be as long as necessary</p>
                   </section>
                   <section class="row">
                       <p># 1311</p>
                       <p>|  % 33 |</p>
                       <p>$ 203</p>
                   </section>
               </div>
           </div>
           
       </div>
   </div>
</div>

<div>
    <h1>Categories</h1>
</div>

<div>
    <div>Channels</div>
</div>

