@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="column-20 activity-list">
        <h2 class="indent">Activity</h2>
        <a class="btn btn-link">Activity Feed</a>
        <a class="btn btn-link disabled">Open Cards</a>
        <a class="btn btn-link disabled">Saved Cards</a>
        <h2>Subscriptions</h2>
        <div class="row">
            <div class="frame frame-size-small frame-circle">
                <img src="http://lorempixel.com/36/36/cats" />
            </div>
            <p>Channel</p>
            <i class="notification-bubble">2</i>
        </div>
    </div>
    <div class="column-80 activity-board">
        <div class="wrap-group">
            <div class="wrap-group-item">
                <div class="column well">
                    <div class="row" style="width:100%; padding:9px;">
                        <p>Channel - <a class="btn btn-link">Solutioneers</a></p>
                        <i class="notification-bubble">...</i>
                    </div>
                    <div class="separator"></div>
                    <div class="row poster-info">
                        <div class="row row-start indent-left ">
                            <div class="frame frame-size-small frame-circle">
                                <img src="http://lorempixel.com/36/36/cats" />
                            </div>
                            <div class="indent-left">
                                <h1>Jeremy</h1>
                                <p class="grey-text">11:40PM</p>
                            </div>
                        </div>
                        <i class="notification-bubble indent-right">2</i>
                    </div>
                    <div class="column post indent-top indent-left indent-right">
                        <h1 class="indent-top">Title of Channel</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur elit, sed do eiusmod tempor incididunt ut labore et dolore magna...</p>
                        <a class="grey-text indent-right" style="align-self:flex-end;">expand</a>
                    </div>
                    <div class="frame frame-size-card">
                        <img src="~/img/rockies.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="column">
    <div class="container">
        <div class="row row-centered" style="width:100%;">
            <div class="row">
                <a class="btn btn-link">hot</a>
                <a class="btn btn-link">new</a>
                <a class="btn btn-link">top rated</a>
            </div>
            <div class="row">
                <h1>search</h1>
                <input class="message-input" type="text" />
                <a class="btn btn-primary">search</a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row browse-results">
            <div class="wrap-group">
                <div class="wrap-group-item">
                   
                </div>
            </div>
            <div class="column-33 browse-catagories">
                <h2>Filters</h2>
            </div>
        </div>
    </div>
</div>