@model IEnumerable<Solutioneers.Models.Company>

@{
    ViewBag.Title = "Index";
}

<div id="nav-top">
    <div class="row">
        <div class="row logo">
            <img src="~/img/logo.png" />
        </div>
        <div class="row row-centered row-center">
            <a class="link-p indent-right">Activity</a>
            <a class="link-p indent-right">Discover</a>
        </div>
        <div class="row userbar">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>

<div id="ParentPartialID">
    @Html.Partial("SplashPagePartial", @Model)
</div>
